body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23000000' fill-opacity='0.02'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  font-family: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  height: 80px;
  width: 100%;
}

.logo {
  color: #4f0086;
  font-size: 35px;
  line-height: 80px;
  padding: 2 80px;
  font-weight: bold;
  margin-left: 5%;
}

.logopic {
  height: fit-content;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  font-weight: 700;
  margin: 0 15px;
  color: #000000;
}

nav ul li a {
  color: #000000;
  font-size: 17px;
  padding: 20px 13px;
  transition: 0.1s ease;
}

a active,
a:hover {
  text-decoration: none;
  color: #000000;
  transform: scale(1.4);
  transition: 0.5s ease-out;
  font-weight: 700;
}

.checkbtn {
  font-size: 30px;
  color: #000000;
  float: right;
  line-height: 85px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

@media (max-width: 952px) {
  nav ul li a {
    font-size: 16px;
  }
}

.logopic {
  height: 50px;
}
#check {
  display: none;
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  nav {
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
  }
  ul {
    padding-top: 200px;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: #000000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    list-style: none;
    margin-top: 0px;
    line-height: 40px;
  }

  nav ul li:before {
    content: attr(data-text);
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 5em;
    font-weight: 700;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 20px;
    transition: 0.5s;
    white-space: nowrap;
  }

  nav ul li:hover:before {
    opacity: 0.1;
    letter-spacing: 0px;
  }
  .logopic {
    height: 40px;
  }
  nav ul li a {
    position: relative;
    display: inline-block;
    padding: 0px 15px;
    font-size: 20px;
    color: #fff;
    background: none;
    overflow: hidden;

    transition: 0.5s;
    z-index: 1;
  }

  a:hover {
    transform: scale(1.25);
    z-index: 1000;
    background: #ffffff;
    color: rgb(12, 0, 0);
    opacity: 1;
    border-radius: 5px;
  }

  ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100px;
    width: 80px;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent
    );
    transform: skewX(35deg);
    transition: 0s;
  }
  ul li a:hover:before {
    left: 200px;
    transition: 0.5s;
    transition-delay: 0.2s;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
